/* MENU STARTS */

.hero .navbar nav{
    display: none;
}
.hero .navbar .hamburger-menu{
    position: fixed;
    top: 8px;
    right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero .navbar .hamburger-menu .toggler{
    position: absolute;
    top: 1%;
    right: 15%;
    width: 40px;
    height: 40px;
    opacity: 0;
    cursor: pointer;
    z-index: 4;
}

.hero .navbar .hamburger-menu .hamburger{
    position: absolute;
    top: 1%;
    right: 15%;
    width: 40px;
    height: 40px;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.6rem;
    background: white;
}

.hero .navbar .hamburger-menu .hamburger > div{
    position: relative;
    flex: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4px;
    width: 100%;
    background: var(--secondary-color);
    transition: all 1.4s ease;
}

.hero .navbar .hamburger-menu .hamburger > div::after,
.hero .navbar .hamburger-menu .hamburger > div::before{
    content: '';
    position: absolute;
    top: -10px;
    z-index: 3;
    height: 4px;
    width: 100%;
    background: inherit;
}

.hero .navbar .hamburger-menu .hamburger > div::after{
    top: 10px;
}

.hero .navbar .hamburger-menu .toggler:checked + .hamburger > div {
    transform: rotate(135deg);
}

.hero .navbar .hamburger-menu .toggler:checked + .hamburger > div::after,
.hero .navbar .hamburger-menu .toggler:checked + .hamburger > div::before{
    top: 0;
    transform: rotate(90deg);
}

.hero .navbar .hamburger-menu .toggler:checked:hover + .hamburger > div{
    transform: rotate(495deg);
}


.hero .navbar .hamburger-menu .toggler:checked ~ #menu{
    visibility: visible;
}

.hero .navbar .hamburger-menu .toggler:checked ~ #menu > div{
    transform: scale(1);
}

.hero .navbar .hamburger-menu .toggler:checked ~ #menu > div > div{
    opacity: 1;
}

#menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    visibility: hidden;
    transition: all var(--menu-speed) ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
}

#menu > div {
    flex: none;
    width: 150%;
    height: 150%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--primary-shade-color);
    border-radius: 50%;
    transform: scale(0);
    transition: all var(--menu-speed) ease-in-out;
}

#menu > div > div{
    max-width: 90vw;
    max-height: 100vh;
    opacity: 0;
    transition: opacity var(--menu-speed) ease-in-out;
}
#menu > div > div > ul > li{
    list-style: none;
    padding: 1rem;
}

#menu > div > div > ul > li > a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 600;
    font-family: var(--primary-text);
}
/* MENU ENDS */

/* --------------------------------------------------------------------------------------------- */

/* RESPONSIVE STYLING STARTS */

/* All texts */

.hero .content h2 {
    font-size: 36px;
    line-height: 2.48rem;
}

.hero .content p {
    padding: 0 17px;
    font-size: 18px;
}

.btn{
    font-size: 12px;
}

.offer {
    font-size: 16px;
}

.traits h3 {
    font-size: 18px;
}

.traits p {
    font-size: 16px;
}

.header h2 {
    font-size: 1.9rem;
}

.header p{
    font-size: 1rem;
    line-height: 28px;
}

.staffs .item .img1::after,
.staffs .item .img2::after,
.staffs .item .img3::after {
    font-size: 0.9rem;
}

.staffs .staff-name {
    font-size: 1.4rem;
}

.staffs .staff-info {
    font-size: 1rem;
}

.insight h4 {
    font-size: 1rem;
}

.insight p{
    margin: 20px 0 50px;
    font-size: 1.4rem;
}


/* Navbar */
.navbar{
    height: 62px;
    padding: 10px 15px;
}
.navbar nav{
    display: none;
}

.navbar nav ul li{
    padding: 10px 5px;
}

.navbar .logo img {
    height: 1.1rem;
}


/* Offer */
.offer{
    display: flex;
    flex-direction: column;
}

.offer p{
    padding: 30px;
}

.offer a{
    font-weight: 700;
    padding: 10px 18px;
}

/* Flex-item */
.flex-item,
.flex-item .item.row{
    flex-direction: column;
}

/* Portfolio */
.portfolio {
    padding: 70px 0 80px;
}

.portfolio p{
    padding: 0px 20px;
    line-height: 1.8rem;
}

.portfolio .row .column{
    display: none;
}
.portfolio .row .column:last-of-type{
    display: contents;
}

/* Insight */
.insight h4{
    margin: 0 0 10px;
}

/* Staffs */
.staffs{
    padding: 80px 11px;
}

.staffs .flex-item .item{
    padding: 0 20px;
}

/* BLog Posts */
.blogposts {
    padding: 40px 15px 80px;
}

.blogposts .flex-item .item{
    justify-content: center;
    align-items: center;
    margin: 0px 0px 100px;
}

.blogposts .flex-item .item .img,
.blogposts .flex-item .item img{
    width: 5.8rem;
}

.blogposts .flex-item .item .img{
    margin: 0 auto 40px auto;
}

.blogposts .flex-item .item .blogpost-info h3{
    margin: 0 0 20px 20px;
    padding: 0 0 0 0;
    line-height: 2.05rem;
    text-align: center;
    font-size: 1.4rem;
}

.blogposts .flex-item .item .blogpost-info p{
    text-align: center;
    font-size: 0.9rem;
}

/* Portfolio Grid*/
.portfolio-grid {
    /* padding: 0 8rem; */
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-row-gap: 2.5rem;
    grid-column-gap: 3.4rem;
}


/* Footer */
.footer{
    padding-left: 10px;
}

.footer p{
    padding: 0 30px;
    font-size: 0.85rem;
}

.footer ul li a{
    font-size: 0.85rem;
}

/* RESPONSIVE STYLING ENDS */